#navBar {
  display: flex;
  margin-bottom: 2px;
}
#navBar .menu {
  width: 90%;
  font-weight: 500;
  font-size: 20px;
  margin-top: -8px;
}
#navBar .menu li {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

#navBar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  font-size: 25px;
}
#navBar i {
  cursor: pointer;
  margin-right: 5px;
}
